<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<form action="#" th:action="@{/game}" th:object="${userAnswer}" method="post">
  <div class="form-row">
    <h3 th:text="'Question ' + ${currentQuestionNumber} + '/' + ${totalQuestionNumber} + ':'"></h3>
    <h4 th:text="${currentQuestion}"></h4>
  </div>
  <div class="form-row">
    <div class="form-group">
      <p>Select correct answer:</p>
      <th:block th:each="answer,iter : ${currentQuestionAnswers}">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="answersRadioOptions"
                 th:id="'answer_' + ${iter.current}" th:value="${answer}" th:field="*{answer}">
          <label class="form-check-label" th:for="'answer_' + ${iter.current}"
                 th:text="${answer}">
          </label>
        </div>
      </th:block>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Next</button>
    </div>
  </div>
</form>
<body>

</body>
</html>